<!DOCTYPE html>
<html lang="en">
                    <!-- head    -->
                    <%- include('./partials/head.ejs') %>
                    <!-- head    -->
    <body>
                    <!-- header -->
                    <%- include('./partials/header.ejs') %>
                    <!-- header -->
        <main>
                       
                    <!-- banner-feed -->
                    <%- include('./partials/banner-feed.ejs') %>
                    <!-- banner-feed -->

                   <!-- site-shopping-info -->
                   <%- include('./partials/site-shopping-info.ejs') %>
                   <!-- site-shopping-info -->      
           
                
                   
            <section class= "last-visit">
                
                <div class="container">
                    
                   <div class="row row-cols-4">
                    <%for (let p of productos) { %>
                            <div class="col">
                                <article>   
                                    <a href="productslists/details/<%=p.id %>"><img src="/images/products/<%=p.image %>" alt="cadena" style = "width:100%; height: 100%"></a>
                                    <div class="main-article">
                                        <i class="far fa-heart"></i>
                                        <p class= "price"><%-p.price %>$</p>
                                        <h4 class="description"><%-p.name%></h4>
            
                                        
                                    </div>
                                </article>
                            </div>
                            <%   }%> 
                   </div>
                   
                </div>        
                 
                
                 </section>
                 
                                
        </main>
        <%- include('partials/footer.ejs') %>
        <script src="/js/carrito.js"></script>
    </body>
</html>