<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head') %>
<body>
    <!-- Header -->
    <%- include('../partials/header') %>
    <!-- /Header -->

    <main class = "main-list">
    <div class="">
        <h2 class="products-title" style="
        text-align: center">Todos los productos</h2>
    </div>
        <div class="container">
            <div class="row row-cols-4">
        <%for (let p of productos) { %>
        <section>
        <div class="product">
            <div class="col">
            <a href="/productslists/details/<%=p.id %>">
                          
                
                    <img src="/images/products/<%=p.image%>" alt="imagen de producto" class="productimg">
                
            </a>
            
               <div><%=p.name%></div>
                <h2> $<%=p.price %> </h2>   
                <% for( let i = 0; i < p.categories.length; i++ ) { %>
                   <li>
                       Categoría: <%= p.categories[i].name %> 
                        
                   </li>
                
                   <% } %>

                   <% for( let i= 0; i < p.materials.length; i++ ) { %>
                   
                    <div>
                        <%= p.materials[i].name%> 
                       </div>

                   <% } %>
                   
                </div>    
         </div>         
        </section>        
         
        
        <% } %>  
    </div>
    </div>
    </main>

    <!-- footer -->
    <%- include('../partials/footer') %>
    <!-- /footer -->
</body>
</html>