<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head') %>
<body>
	<!-- Header -->
	<%- include('../partials/header') %>
	<!-- /Header -->
<main class="main-register">
	
	
		<h2 class="products-title">Editando Producto <%=producto.name %> </h2> 
			<form action="/productslists/<%=producto.id%>?_method=PUT" method="POST" id="formedit">
				
				
					<div class="formulario__grupo">
						<label for="name" class="formulario__label">Nombre del producto:</label>
						<input type="text"  id="name" name="name"value="<%=producto.name%>" class="formulario__input">
						<p class="formulario_error1 formulario_error"><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Este campo solo puede llevar Letras, espacios o acentos. </p>
					
					</div>
					<div class="formulario__grupo">
						<label for="price" class="formulario__label">Precio del producto:</label>
						<input type="number" id="price" name="price"  value="<%=producto.price%>" class="formulario__input">
						<p class="formulario_error2 formulario_error"><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena este campo y solo usa números. </p>
					</div>
					
					<div class="formulario__grupo">
						<br><label for="category" class="formulario__label">Categoría:</label>
						<select name="category" id="category" class="formulario__input">						
							<option value="">Selecciona</option>
						
							<% for( let c of categories ) { %>
						<option value="<%=c.id%>"><%=c.name%></option> 
							<% } %>			
								
					
                        </select>        
						<p class="formulario_error4 formulario_error"><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena este campo. </p>
        			</div>
					<div class="formulario__grupo">
						<br><label for="materials" class="formulario__label">Material:</label>
						<select name="materials" id="materials" class="formulario__input">
							<option value="">Selecciona</option>	
							<% for (let m of materials)  { %> 
								
								<option value="<%=m.id%>"><%=m.name%></option>
								<% } %> 

						
						</select>
						<p class="formulario_error5 formulario_error"><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena este campo. </p>
					</div>

					
					<div class="formulario__grupo">
						<br><label for="description"  class="formulario__label">Descipción:</label>
						<textarea name="description" id="description"  class="formulario__input"><%=producto.detail%></textarea>
						<p class="formulario_error7 formulario_error"><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Por favor rellena este campo y evita usar carácteres especiales </p>
					</div>
					<div class="formulario__grupo">
						
						<label for="imageProduct"class="formulario__label">Actualizar Imágen</label>
						<input type="file" name="imageProduct" class="inputimage formulario__input" id="inputimage"> 
						<p class="formulario_error6 formulario_error"><i class="fas fa-exclamation-triangle"></i> <b>Error:</b> Tienes que subir una imágen </p>
					</div>
					
			
					<div class="formulario__grupo">

					</div>
						<button type="submit" class="buy-now-button">Guardar producto</button>
					
				
			</form>
		



</main>
	<!-- /todos los productos -->
	<script src="/js/carrito.js"></script>
	<script src="/js/edit.js"></script>
	<!-- footer -->
	<%- include('../partials/footer') %>
	<!-- /footer -->
	
</body>	
</html>

