<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<%- include('../partials/head') %>

<body>
  <!-- Header -->
  <%- include('../partials/header') %>
  <!-- /Header -->

  <main class="main-list">
    <div class="">
      <h2 class="products-title" style="text-align: center">
        Resultados
      </h2>
    </div>

    
    <div id="lista-products" class="container">
    <% if (productos.length!='') { %>
     
    
      <div class="row row-cols-4">
        
        <%for (let p of productos) { %>
            
        <section>
          <div class="product textProd">
            <div class="col">
              <a href="/productslists/details/<%=p.id %>">
                <img src="/images/products/<%=p.image%>" alt="imagen de producto" class="productimg" />
              </a>
          
                <h4 class="textProd"><%=p.name%></h4>
                <h2>$<%=p.price %></h2>
                <% for( let i = 0; i < p.categories.length; i++ ) { %>
                <li type="none">Categoría: <%= p.categories[i].name %></li>

                <% } %> <% for( let i= 0; i < p.materials.length; i++ ) { %>

                <div class="textProd"> <%= p.materials[i].name%></div>

                <% } %>

                <button class="agregarFav" data-id="<%= p.id %>" style="
                      color: rgb(255, 255, 255);
                      background-color: rgb(0, 116, 116);
                      font-size: medium;
                    ">
                  A tus favoritos
                </button>

                <button formaction="#" class="agregarcarrito" data-id="<%= p.id %>" style="
                      color: rgb(255, 255, 255);
                      background-color: rgb(0, 116, 116);
                      font-size: medium;
                    ">
                  Al carrito
                </button>
                <i class="fa fa-shopping-cart" aria-hidden="true" height="10%" width="auto" style="color: #0aa689"></i>
              
            </div>
          </div>
        
        </section>
    

        <% } %>
        
        <% } else { %> <p>no hay coincidencias</p>
          <% } %>
      </div>
    </div>
  </main>

  <!-- footer -->
  <%- include('../partials/footer') %>
  <!-- /footer -->
  <script src="/js/cart.js"></script>
</body>

</html>